:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: #6eb37f;
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	justify-content: center;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #262626;
	padding: 50px;
	color: #fff;
	text-align: center;
	flex-direction: column;
}
.wrapper h2 {
	text-transform: uppercase;
	font-family: poppins;
	margin-bottom: 10%;
}

.numbers-input {
	display: flex;
	gap: 12px;
	justify-content: center;
	align-items: center;
}

.numbers-radio {
	display: flex;
	gap: 12px;
	justify-content: center;
	align-items: center;
}

.btn-wrapper {
	display: flex;
	gap: 12px;
}

input[type='text'] {
	height: 40px;
}
input[type='text'] {
	font-size: 24px;
}
button {
	background: #ee4477;
	border: none;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: poppins;
	letter-spacing: 2px;
	font-weight: bold;
}
input[type='radio'] {
	width: 20px;
	height: 20px;
}
b {
	font-size: 30px;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
